
<h2>{{ title }}</h2>

<div class="panel panel-default">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Dietary preference</th>
        <th>Bathes in sauna</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="attendee in attendees">
         <td>{{ attendee.firstName }}</td>
         <td>{{ attendee.lastName }}</td>
         <td>{{ attendee.email }}</td>
         <td>{{ attendee.diet }}</td>
         <td>{{ attendee.sauna }}</td>
      </tr>
    </tbody>
  </table>
</div>

</div>
